<footer>
  <small>
    Este proyecto es mantenido por <a href="https://twitter.com/gabrielperezi">Gabriel J. Pérez Irizarry</a>.
    Verifica el repositorio de <a href="{{ pkg.repository.url }}">Git</a>.
  </small>
</footer>
